:root {
  --lightBlue: #95b8d1;
  --mainwhite: #f5f5f5;
  --mainBlack: #333333;
}
.max-height {
  min-height: 100vh;
}
body {
  background: var(--lightBlue);
  color: Blue Lotus;
}
.message-container {
  background: var(--mainwhite);
}
.message-content {
  color: var(--lightBlue);
}
#submitBtn {
  background: var(--lightBlue);
  color: Dark Slate Blue;
}
#submitBtn:hover {
  color: Blue Lotus;
  color: var(--mainBlack);
}

.feedback {
  display: none;
}

.show {
  display: block;
}
